:root {
  --black: #1C1F22;
  --dark: #000000;
  --grey: #A39B99;
  --maroon: #C11B34;
  --light: #FFFFFF;
  --lightgrey: #CCC4BF;
  --red: #DB0C19;
  --white: #FAF4F0;
  --gradient: linear-gradient(45deg, var(--red, red), var(--maroon, maroon));
}